@model IEnumerable<Afisha.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Афиша</h1>
    <p class="lead">Выступления любимых и не очень исполнителей.</p>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index")
            </th>
        </tr>
        
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
            }
        </tr>

    </table>
</div>